// HEADER ===============

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }

  &__input {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 99px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.3s ease-out;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2rem);
    }
  }
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    right: 1.1rem;
    top: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 2px solid var(--color-grey-light-2);
  }
}

// SIDE NAVIGATION =====================

.slide-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primary);
      height: 100%;
      width: 3px;
      transform: scaleY(0);
      transition: transform 0.2s ease-out,
        width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s ease-in-out;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}

// GALLERY ==================
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}
